@import "tailwindcss";

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400 ;
  src: url(/frontend/public/Outfit/Outfit-VariableFont_wght.ttf) format('woff2');
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #ede0d4;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;
}
.glass-effect {
  @apply backdrop-blur-md bg-gray-100/80 border border-gray-300/50;
}

.underline-hover {
  @apply hover:underline underline-offset-4 transition duration-150;
}
@layer utilities {
  .nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s;
  }
  .stroke-black {
  -webkit-text-stroke: 0.5px black;
  color: white;
}

  .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  /* Additional text overflow utilities */
  .text-truncate-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
